// TEMA
$dark-theme: false !default;

// PALETA DE CORES BÁSICA
$color-pink-light: #FFE6E6;
$color-purple-main: #AD88C6;
$color-pink-secondary: #E1AFD1;
$color-purple-accent: #7469B6;

// CORES DE TEXTO
$text-color-primary: #37306B;
$text-color-secondary: #66347F;
$text-color-accent: #9E4784;
$text-color-light: #D27685;

// TIPOGRAFIA
$font-primary: "Raleway", sans-serif;

// ESPAÇAMENTO
$spacing-unit: 8px;

// BORDAS
$border-radius: 4px;
